<nav class="nav">
  <a class="nav-brand" href="{{ '/' | relative_url }}">
    <img class="nav-logo-box" src="{{ '/assets/images/bristollogo.avif' | relative_url }}" alt="{{ site.title }}">
    <div class="nav-brand-text">
      {{ site.title }}
    </div>
  </a>
  <ul class="nav-links">
    {% for item in site.data.navigation.main %}
    {% if item.url == "/" %}
      {% assign is_active = page.url == "/" %}
    {% else %}
      {% assign is_active = page.url contains item.url %}
    {% endif %}
    <li><a href="{{ item.url | relative_url }}"{% if is_active %} class="active"{% endif %}>{{ item.title }}</a></li>
    {% endfor %}
  </ul>
</nav>
